table, th{
	border:1px solid black;
	border-collapse:collapse;
	width:100%;
	height:20px;
}

td{
	border:1px solid black;
	border-collapse:collapse;
	text-align:left;
}

.Host-Header{
	border-left-style:none;
	text-align:left;
	font-weight:bold;
	font-size:125%;
	cursor:pointer;
}

input{
	text-align:left;
}

.Port-Header{
	text-align:left;
	font-weight:bold;
	font-size:70%;
	border-left-style:none;
	cursor:pointer;
}

.Tool-Header{
	cursor:pointer;
}

.notes{
	height:20px;
	border: 0px solid black;
	border-collapse:collapse;
}

.Host-Header-Check, .Port-Header-Check{
	text-align:left;
	width:1px;
	border-right-style:none;
}

[class^=Tool-]{
	text-align:left;
	font-size:90%;
}

.Tool_Output{
	text-align:left;
	font-size:90%;
}

.Notes{
	height:20px;
	border: 0px solid black;
	border-collapse:collapse;
}

.Notes-Text{
	width:99%;
	text-align:left;
	border: 0px solid black;
}

/* Checklist Colors */

/* Host (main header) color, default is gold #D49F0E*/
.Host-Header, .Host-Header-Check{
	background-color:#D49F0E;
}

/* Port Row Color, default is light grey #C6C8CA */
[class^=Port-Header]{
	background-color:#C6C8CA;
}

/* Nessus Findings, default color is blue #3399FF */
[class$=-Nessus]{
	background-color:#3399FF;
}

/* NMAP Findings, default color is blue #008A00 */
[class$=-Nmap]{
	background-color:#008A00;
}

/* Tool Output, default is darker grey #9EA0A2 */
.Tool_Output{
	background-color:#9EA0A2;
}